* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Calibri;
    font-size: 12px;
}

body {
    background: #2f3c5a;

}

.container{
    display: flex;
    justify-content: space-between;
    background-color: #f3f1f1;
    width: 100vw;
    max-width:660px ;
    padding: 20px;
    color: #5D5D5D;
    margin:  0 auto;
    height: 100vh;
}


.todo {
    text-align: center;
    margin-top: 100px;
    font-size: 30px;
    color: #f8f5f5;
}
.website-link {
    display: flex;
    /* justify-content: center; */
    justify-content: space-around;
    margin: 50px;
}
img {
    font-size: 20px;
}

a{
    margin-right: 30px;

}



aside{
    width: 25%;


}

main{
    width: 63%;
    /* margin-top: 0; */

}

main > div {
    margin-bottom: 6px;

}

h1,h2,h4,span{
    color: #0a0a0a;
}
h1{
    font-size: 25px;
    font-weight: 700;

}

h2{
    font-size: 18px;
    font-weight: 700;
}

h4{
    font-weight: 700;
    font-size:16px;

}

.profile{
    margin-top: 10px;
}
.skills{
    margin-top: 6px;
}
hr{
    width:95% ;
    text-align: center;
    color: #807e7e;
    border: 1px solid #c0bebe;
    border-bottom: none;
}


.vertical{
    padding-left:5px ; 
    background-color:#ccc9c9 ; 
    width: 2px; 
}
.line{  
    width: 3em;
    height: 2px;
    background-color: #000;
  }
  .top{
    padding-left:5px ; 
    background-color:#ccc9c9 ; 
    width: 2px; 
  }
  .date{
      color: black;
  }
@media (max-width:660px) {
    .container{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-right: 1%;
        margin-bottom: 20px;
    height: 100vh;

    }

    aside{
        /* order: 1; */
        width: 100%;

    }
main{
    width: 100%;
    
}
.title{
    text-align: center;

}

.info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 5px;
}
.info_item{
    /* margin: 5px; */
}
      
}